src/main/app/mavensetup.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
   
    <flow name="mavensetupFlow">
        <http:listener config-ref="HTTP_Listener_Configuration_Global" path="/hellotest" doc:name="HTTP"/>
        <set-payload value="Hello Maven" doc:name="Set Payload"/>
        <set-property propertyName="#[&quot;Content-type&quot;]" value="#[&quot;application/json&quot;]" doc:name="Property"/>
    </flow>
</mule>
